@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "spree/frontend/products";
@import "spree/frontend/devise";

//below is addedd by gibbon

.navbar {
    background-color:#337ab7;
}

ul.nav.navbar-nav.navbar li a {
    color: #ffffff;
}

ul.dropdown-menu > li > a {
    background-color: #337ab7;
    color: #ffffff;
}

a.cart-info.full {
    color: #fff;
}

.navbar-default .navbar-nav > li > a{
    color:#fff;
}

.navbar-default .navbar-nav > li > a:hover {
    color:#ffff00;
}


//addedd by gibbon