.product-image {
    min-height:100px;
}

a.btn.btn-primary {
    margin: 0 auto;
    display: block;
   
}


.navbar {
    background-color:#337ab7;
}

ul.nav.navbar-nav.navbar li a {
    color: #fff;
}

ul.nav.navbar-nav.navbar li a:hover {
    color:#333;
}


h1.page-header {
    color: #337ab7;
}

ul.dropdown-menu li a {
    background-color: #337ab7;
    color: #ffffff;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}