
        <!-- Footer -->
        <footer>
            <div class="container">
                <hr>
            <div class="row">
                <div class='col-md-6'>
                  <p> Copyright &copy; Russian Translation 2017 </p>  <%= Spree.t :powered_by  %> <%= link_to 'Logic Forest', '#' %>
                 </div> 
                    <div class='col-md-6'>
                    <ul class="nav navbar-nav navbar-right icons">
						<li><a href="https://www.facebook.com/Russian-Translation-UK-708827202624599/" target="_blank"> <i class="fa fa-2x fa-facebook-square"></a></i></li>
						<li><a href="https://twitter.com/TranslateRus" target="_blank"><i class="fa fa-2x fa-twitter-square"></a></i></li>
						<li><a href="https://www.pinterest.com/russiantran0391/" target="_blank"><i class="fa fa-2x fa-pinterest-square"></a></i></li>
				     	<li><a href="https://aboutme.google.com/b/112563293228919645132/?referer=gplus" target="_blank"><i class="fa fa-2x fa-google-plus-square"></a></i></li>
					
					</ul>
					</div>
		   </div>
		    </div> 
		     </div>
        </footer>