 <hr>
        <!-- Footer -->
        <footer>
            <div class="container">
                
            <div class="row">
                <div class='col-md-6'>
                  <p> Copyright &copy; Russian Translation 2017 </p> 
                 </div> 
                    <div class='col-md-6'>
                    <ul class="nav navbar-nav navbar-right icons">
						<li><a href="http://facebook.com"> <i class="fa fa-2x fa-facebook-square"></a></i></li>
						<li><a href="http://twitter.com"><i class="fa fa-2x fa-twitter-square"></a></i></li>
						<li><a href="http://pinterest.com"><i class="fa fa-2x fa-pinterest-square"></a></i></li>
				     	<li><a href="http://plus.google.com"><i class="fa fa-2x fa-google-plus-square"></a></i></li>
					
					</ul>
					</div>
		   </div>
		    </div> 
		     </div>
        </footer>