
   
    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">FAQ
                    <!--<small>Subheading</small>-->
                </h1>
                <ol class="breadcrumb">
                    <li><a href="/">Home</a>
                    </li>
                    <li class="active">FAQ</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Content Row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">What is a certified translation?</a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse">
                            <div class="panel-body">
                            We will translate the document and produce a certifying letter confirming that the translation is a true and accurate representation of the original source document provided, and can be used as an official document in the UK. The certifying letter and the translated document will be stamped with our company stamp and signed by the dedicated project manager. The certified documents will be posted to you by recorded delivery free of charge, or can be sent by next day delivery at an additional fee. We can also scan the certified documents and email them to you if required.
                            </div>
                        </div>
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">How can I send you my documents for translation and how will you send them back?</a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body">
                            We accept documents by email in different formats: Word, Excel, PPT, TXT; PDF; HTML, XML, XLF & XLIFF files; scans; other types of documents are also considered. The documents will be posted to you by recorded delivery free of charge, or can be sent by next day delivery at an additional fee. We can also send the translation by email if required.
                            </div>
                        </div>
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">What do you do with my personal details?<a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="panel-body">
                                 We understand the importance of confidentiality in translation and process all documents under the highest level of security. Any information, data, documents, etc. that we have been entrusted with will remain completely confidential and never stored on an online server.
                            </div>
                        </div>
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">What file formats can I send you?</a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse">
                            <div class="panel-body">
                                We can work with pretty much any file format, however, we prefer to work with the source formats wherever possible. We accept Word, Excel, PPT, TXT; PDF; HTML, XML, XLF & XLIFF files; scans; other types of documents are also considered.

                            </div>
                        </div>
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">Who will translate my document?</a>
                            </h4>
                        </div>
                        <div id="collapseFive" class="panel-collapse collapse">
                            <div class="panel-body">
                                All our translators are UK based native Russian speakers, who are culturally and professionally up-to-date. We have an in-house translator who has a legal degree in English and Russian law, knowledge of legal terms in two languages.
                            </div>
                        </div>
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">What information should I give when ordering a translation?</a>
                            </h4>
                        </div>
                        <div id="collapseSix" class="panel-collapse collapse">
                            <div class="panel-body">
                                It is important that you provide us with as much information as possible: subject matter, target audience, purpose of the translation, deadline requirements, delivery format requirements, additional requests.
It is needed to ensure that we have the best possible understanding of your requirements, and therefore deliver your translation completed to the highest possible standard.

                            </div>
                        </div>
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">Delivery and turnaround times</a>
                            </h4>
                        </div>
                        <div id="collapseSeven" class="panel-collapse collapse">
                            <div class="panel-body">
                                Turnaround of work depends upon complexity and type of the text, normally 1-5 days. Certified translations are done in 1 working day. We can discuss all options and we will work whatever way you deem to be the best for you. 
                            </div>
                        </div>
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseEight">Pricing</a>
                            </h4>
                        </div>
                        <div id="collapseEight" class="panel-collapse collapse">
                            <div class="panel-body">
                                Our prices are reasonable, starting at 25 GBP per document for Certified translation. With regard to certificates with several pages, the quote is calculated on the amount of pages. The majority of requirements are quoted based on word count, document technicality and urgency. The rates for the language pair English-Russian range from 0,035 to 0,08 GBP per source word; Russian-English range 0.04-0.10 GBP per source word. The full list of services and rates is available upon request.
                            </div>
                        </div>
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseNine">Payment option</a>
                            </h4>
                        </div>
                        <div id="collapseNine" class="panel-collapse collapse">
                            <div class="panel-body">
                                We accept Paypal, Bank transfer, other options are available upon request.
                            </div>
                        </div>
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.panel-group -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->

      

    </div>
    <!-- /.container -->

 