<!-- Header Carousel -->
    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
               
                <div class="fill" style="background-image:url('/slide1.jpg');"></div>
                <div class="carousel-caption">
                    <h2></h2>
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('/slide2.jpg');"></div>
                <div class="carousel-caption">
                    <h2></h2>
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('/slide3.jpg');"></div>
                <div class="carousel-caption">
                    <h2></h2>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </header>

    <!-- Page Content -->
    <div class="container">

        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Welcome to the UK home of professional Russian translation services
                </h1>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-check"></i> Russian translation </h4>
                    </div>
                    <div class="panel-body">
                
                        <p class="text-justify">We translate various documents including technical documentations, websites, letters & emails, advertising, trade catalogues, health & safety manuals, CVs, medicals, bank statements, high school/college/university transcripts, ect.  We do it in a way that maintains the complete context and intention of the original author. The translations are professionally accurate, carefully completed and checked by expert translator who is also a native speaker. </p>
                        <a href="https://work-greenlakes.c9users.io:8080/services" target="_blank" class="btn btn-default btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-gift"></i> Certified translation </h4>
                    </div>
                    <div class="panel-body">
                        <p class="text-justify">We provide certified translation of official documents issued in Russia, Ukraine, Belorussia, and other former Soviet Union Republics to be presented to official bodies in the UK or other countries where the Russian language is used. These are birth certificates, marriage certificates, divorce certificates, police statements, educational diplomas, passports ect. We ensure the translation is an accurate and complete reproduction of the original document's text.</p>
                        <a href="https://work-greenlakes.c9users.io:8080/services" target="_blank" class="btn btn-default btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-compass"></i> Legal and Business translation</h4>
                    </div>
                    <div class="panel-body">
                        <p class="text-justify">For both legal entities and individuals we provide comprehensive translations of legal and business documents from Russian and English. Legal and business translation service involves the translation of various documents - immigration and naturalization papers, name change certificate, police clearance, court papers, financial information & reports, other related documents. We always research the subject to ensure a professional translation of highest standard.</p>
                        <a href="https://work-greenlakes.c9users.io:8080/services" target="_blank" class="btn btn-default btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    
 <!-- Call to Action Section -->
        <div class="well">
            <div class="row">
                <div class="col-md-8">
                    <p class="text-justify">If you require Russian translation services that deliver accurate, quality and reasonably priced translations on time, The <b>Russian Translation UK </b> offer translations from and into Russian in a wide range of categories.</p>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-lg btn-success btn-block" href="/order">Order translation now</a>
                </div>
            </div>
        </div>
        

        <!-- Features Section -->
        <div class="row">
            <div class="col-md-12">
                <h2 class="page-header">Certified and Russian translations</h2>
            </div>
    
            <div class="col-md-6">
                <p class="text-justify">Russian language is the most widely spoken of the Slavic languages and the largest native language in Europe.</p>
                <p class="text-justify">At <b>Russian Translation UK</b> we make translation from and into Russian easy and comprehensive. We always research the subject to ensure a professional translation of highest standard and help you to get the accurate official or certified translations you require. </p>
                <p class="text-justify">The project is completed only when the client is satisfied with our work.  Our native speakers translators are there to help you put your message across successfully.</p>
                <p class="text-justify">Our commitment to quality stands second to none and we make sure our linguistic competence and knowledge of the industry help you to communicate effectively with your clients. Whether you need a quick translation of a personal document, official certified document, or a company business plan, our translation team are composed and focused for your needs.</p>
                
                
            </div>
            <div class="col-md-6">
                <img class="img-responsive img-thumbnail" src="/1.jpg" alt="translation">
            </div>
        </div>
        <!-- /.row -->

      
       <div class="page_block_outer header_bar">
	<div class="page_block_page_width">
		<div class="page_block_inner">

					
							<div class="fb-like" data-href="https://www.russian-translation.co.uk/home.htm" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
						
		</div>
	</div>
</div>



    </div>
    <!-- /.container -->
    
    
 
     
    <!-- Script to Activate the Carousel -->
    <script>
    $('#myCarousel').carousel({
        interval: 4000 //changes the speed
    })
    </script>
    
    


 <!-- Load Facebook SDK for JavaScript -->

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.8";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

  <!-- Your share button code -->
