
    <!-- Page Content -->
    <div class="container">

        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Welcome to the home of professional Russian translations
                </h1>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-check"></i> Russian translation </h4>
                    </div>
                    <div class="panel-body">
                        <a href="#"><img src="assets/1.jpg" class="img-responsive" "img-rounded"alt="Image"></a>
    
                        <hr>
                        <p class="text-justify">We translate various documents including technical, website, letter & mail, advertising, health & safety manuals, CVs, medicals, bank statements, high school/college/university transcripts, ect.  We do it in a way that maintains the complete context and intention of the original author.</p>
                        <a href="#" class="btn btn-default btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-gift"></i> Certified translation </h4>
                    </div>
                    <div class="panel-body">
                        <p class="text-justify">We provide certified translation of official documents issued in Russia, Ukraine, Belorussia, and other former Soviet Union Republics to be presented to official bodies in the UK or other countries where the Russian language is used. These are birth certificates, marriage certificates, divorce certificates, police statements, passports ect. We ensure the translation is an accurate and complete reproduction of the original document's text.</p>
                        <a href="#" class="btn btn-default btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-compass"></i> Legal and Business translation</h4>
                    </div>
                    <div class="panel-body">
                        <p class="text-justify">We provide comprehensive translations of legal and business documents from Russian and English for both legal entities and individuals. Legal and business translation service involves the translation of various documents - Immigration and Naturalization Papers, Name Change Certificate, Police Clearance, Company Profiles, Business Plans, Financial Information, Financial Statements, other financial and legal documents.</p>
                        <a href="#" class="btn btn-default btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
 

        <!-- Features Section -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Russian Translation UK</h2>
            </div>
            <div class="col-md-6">
                <p>Our competence includes:</p>
                <ul>
                    <li><strong>Certified translations</strong>
                    </li>
                    <li>General translations</li>
                    <li>Legal and business translations</li>
                    <li>Working with a different types of documents</li>
                    <li>Financial translations</li>
                    <li>Medicals</li>
                </ul>
                <p>We provide accurate and  reasonably priced written translations from English to Russian languages and vice versa in different categories, such as general, administrative, educational, commercial,  medical, economic, computer, technical, etc.</p>
            </div>
            <div class="col-md-6">
                <img class="img-responsive" src="http://placehold.it/700x450" alt="">
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Call to Action Section -->
        <div class="well">
            <div class="row">
                <div class="col-md-8">
                    <p>We provide accurate and  reasonably priced written translations from English to Russian languages and vice versa in different categories, such as general, administrative, educational, commercial,  medical, economic, computer, technical, etc. </p>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-lg btn-default btn-block" href="#">Call to Action</a>
                </div>
            </div>
        </div>

       <div class="page_block_outer header_bar">
	<div class="page_block_page_width">
		<div class="page_block_inner">

			<h1>Try  now!</h1>			
							<div class="fb-like" data-href="https://www.russian-translation.co.uk/home.htm" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
						
		</div>
	</div>
</div>



    </div>
    <!-- /.container -->

   