 <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Providing fast and reliable translations
                   <!-- <small>Subheading</small>-->
                </h1>
                <!-- <ol class="breadcrumb">
                    <li><a href="home.html.erb">Home</a>
                    </li>
                    <li class="active">Services</li>
                </ol> -->
            </div>
        </div>
        <!-- /.row -->

        <!-- Image Header -->
        <div class="row">
            <div class="col-lg-12">
                <img class="img-responsive img-thumbnail" src="assets/2-2.jpg" alt="translation">
            </div>
        </div>
        <!-- /.row -->

        <!-- Service Panels -->
        <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Russian Translation Services</h2>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <span class="fa-stack fa-5x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-book fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
                    <div class="panel-body">
                        <h4>Certified Russian translation services</h4>
                        <p class="text-justify">Certified translations of official documents such as marriage, divorce, birth and academic certificates, etc are available. Translation of any other official document, which is not listed also available upon request. </p>
                        <a href="#" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <span class="fa-stack fa-5x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-pencil-square-o fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
                    <div class="panel-body">
                        <h4>Business translation services</h4>
                        <p class="text-justify">We help businesses of all sizes and sectors reach Russian speaking audiences through specialised translation. Translation allows you to develop and attract new customers and communicate effectively with them. </p>
                        <a href="#" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <span class="fa-stack fa-5x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-balance-scale fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
                    <div class="panel-body">
                        <h4>Legal translation services</h4>
                        <p class="text-justify">At <b>Russian Translation UK </b>we translate from and into Russian legal documents: legal correspondence, letters of credit, will translations, legal disclaimers, deeds, licenses, summons, other translations related to the field of law. </p>
                        <a href="#" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <span class="fa-stack fa-5x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-database fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
                    <div class="panel-body">
                        <h4>Russian proofreading services</h4>
                        <p class="text-justify">For documents that require accurate translation quality we offer Russian proofreading services. Our proofreaders review the translation, fix all necessary grammar, punctuation, spelling mistakes, word order and sentence structure. </p>
                        <a href="#" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Service Tabs -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">What we do</h2>
            </div>
            <div class="col-lg-12">

                <ul id="myTab" class="nav nav-tabs nav-justified">
                    <li class="active"><a href="#service-one" data-toggle="tab"><i class="fa fa-book"></i> <b>Certified Russian translation</b></a>
                    </li>
                    <li class=""><a href="#service-two" data-toggle="tab"><i class="fa fa-pencil-square-o"></i> <b>Business translation</b> </a>
                    </li>
                    <li class=""><a href="#service-three" data-toggle="tab"><i class="fa fa-balance-scale"></i> <b>Legal translation</b></a>
                    </li>
                    <li class=""><a href="#service-four" data-toggle="tab"><i class="fa fa-database"></i> <b>Russian proofreading services</b></a>
                    </li>
                </ul>

                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade active in" id="service-one">
                        <h4>Certified Russian translation</h4>
                        <p class="text-justify">Certified translations of official documents such as marriage, divorce, birth and academic certificates, etc are available. Translation of any other official document, which is not listed also available upon request. Our certified translations are accepted by organisations such as the UK Passport/Home Office and NARIC – the National Agency responsible for providing information.</p>
                        <p class="text-justify">At <b>Russian Translation UK </b> we have a dedicated team organising certified translations on a daily basis. Please visit our services shop designed to help you with your requests.  Our prices are reasonable, starting at <b>25GBP per document</b>. Payment options: Paypal, Bank transfer, other options available upon request. We are happy to help with any queries in regard to certified translations, therefore please contact us for further information you may need.</p>
                    </div>
                    <div class="tab-pane fade" id="service-two">
                        <h4>Business translation </h4>
                        <p class="text-justify">We help businesses of all sizes and sectors reach Russian speaking audiences through specialised translation. You can trust us to translate your business letters, business cards, company brochures, product catalogues, flyers, leaflets, presentations, market research documents, advertising, etc.</p>
                        <p class="text-justify">At <b>Russian Translation UK</b> we translate from simplest of the document types to the most complex document types. Following are the common type of documents that we accept to translate:</p>
                        <ul>
                             <li>Word, Excel, PPT, TXT</li>
                             <li>PDF</li>
                             <li>HTML, XML, XLF & XLIFF files</li>
                             <li>Scans</li>
                             <li>Other types of documents are also considered</li>
                        </ul>
                        <p class="text-justify">As a part of translation service we analyse the document and text to give you an accurate quote. Then we send to you preliminary questions requesting all the information, deadline, formatting instructions and any special requirements. </p>
                         <p class="text-justify">Your document is allocated to translator, who has knowledge and expertise in the specific field. Finally, the translation is proofread by a second experienced native translator to check the accuracy, spelling, punctuation, grammar and overall readability of your document. 
Our priority is to deliver your translation to you on time.</p>
                        <p class="text-justify">At each stage, if we need any additional information we will contact you. Our job is complete only when you have acknowledged receipt and are satisfied with your final translation. </P>
                        <p class="text-justify">The rates for the language pair English-Russian range from <b>0,035 to 0,08 GBP per source word</b>; Russian-English range <b>0.04-0.10 GBP per source word</b>. The full list of services  and rates is available upon request. Payment options: Paypal, Bank transfer, other options available upon request.</p>
                   </div>
                    <div class="tab-pane fade" id="service-three">
                        
                        <h4>Legal translation</h4>
                        <p class="text-justify">At<b> Russian Translations UK</b> we translate from and into Russian legal documents: legal correspondence, letters of credit, will translations, legal disclaimers, patent and trademark filings, deeds, immigration documents, government and legal ruling reports, licenses, summons, other translations related to the field of law. </p>
                        <p class="text-justify">It is a highly skilled field of translation that requires specialist translators. We have an in-house translator who has a legal degree in English and Russian law, knowledge of legal terms in two languages and understand their meaning sufficiently to ensure that the legal documents translated accurately. We understand the importance of confidentiality in legal translation and process all such documents under the highest level of security.</p>
                        <p class="text-justify">As a part of translation service we analyse the document and text to give you an accurate quote. Then we send to you preliminary questions requesting all the information, deadline, formatting instructions and any special requirements. The documents translated and proofread by a translator who has a knowledge and expertise in the specific field.  Additional time is often required to reference material relevant to your particular document and make sure the correct terms are applied. At each stage, if we need any additional information we will contact you. Our job is complete only when you have acknowledged receipt and are satisfied with your final translation. </p>
                        <p class="text-justify"> Following are the common type of documents that we accept to translate:</p>
                        <ul>
                             <li>Word, Excel, PPT, TXT</li>
                             <li>PDF</li>
                             <li>HTML, XML, XLF & XLIFF files</li>
                             <li>Scans</li>
                             <li>Other types of documents are also considered</li>
                        </ul>
                        <p class="text-justify"> The rates for the language pair English-Russian range from <b>0,035 to 0,08 GBP per source word</b>; Russian-English range <b>0.04-0.10 GBP per source word</b>. Payment options: Paypal, Bank transfer, other options available upon request. The full list of services  and rates is available upon request. <i>For an instant legal translation quote, please contact us</i>.</p>
                    </div>
                    <div class="tab-pane fade" id="service-four">
                        <h4> Russian editing and proofreading services </h4>
                        <p class="text-justify">For documents that require accurate translation quality we offer Russian editing and proofreading services. Our proofreaders review the translation, fix all necessary grammar, punctuation, spelling and semantic mistakes, word order and sentence structure. It is necessary to take into account the tone and style of the text. We will also correct words usage, replace inappropriate words and fix problematic sentences. Editing and proofreading are performed only by native Russian speakers with translation and proofreading experience. The end result will be an accurate, readable document. Turnaround time depends on the size and complexity of the project. </p>
                        <p class="text-justify">We can proofread any type of text. The rates for editing/proofreading services start from <b>0.02 GBP per source word</b>. Payment options: Paypal, Bank transfer, other options available upon request.</p>
                        <p class="text-justify">We shall be happy to provide more information on the various editing services we can provide.</p>
                </div>

            </div>
        </div>

        <!-- Service List -->
        <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Areas of Expertise</h2>
            </div>
            <div class="col-md-4">
                <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-2x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-cubes fa-stack-1x fa-inverse"></i>
                        </span> 
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Scientific</h4>
                        <p class="text-justify">Science is a broad term to describe all the disciplines from maths through to biology.  Scientific texts are usually written using scientific language and contain important study findings, research results.  An accurate translation is of considerable importance. </p>
                    </div>
                </div>
                <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-2x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-industry  fa-stack-1x fa-inverse"></i>
                        </span> 
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Building and construction</h4>
                        <p class="text-justify">We provide translating for the building and construction industry: quotations, tenders, project descriptions, exhibition boards, client consultancy, etc.</p>
                    </div>
                </div>
                <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-2x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-support fa-stack-1x fa-inverse"></i>
                        </span> 
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Engineering and technology</h4>
                        <p class="text-justify">Technical documents involve terminology linked to machinery, electrical equipment, engineering, architecture and other specialised areas. They can be of differing nature and content (reports, construction manuals, user manuals, etc.)</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-2x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-globe  fa-stack-1x fa-inverse"></i>
                        </span> 
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Tourism and leisure</h4>
                        <p class="text-justify">We provide translations for tourism companies' websites, brochures, etc. This type of translation requires knowledge of the history and geography of the place to ensure accuracy in rendering location specific terms in the target language. </p>
                    </div>
                </div>
                <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-2x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-briefcase fa-stack-1x fa-inverse"></i>
                        </span> 
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Marketing and advertising</h4>
                        <p class="text-justify">We offer document translation services related to advertising and marketing: press releases, advertising brochures, property particulars, promotional materials, product packaging, etc.</p>
                    </div>
                </div>
                <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-2x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-medkit fa-stack-1x fa-inverse"></i>
                        </span> 
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Health and pharmaceutical</h4>
                        <p class="text-justify">Whether you are looking for  pharmaceutical  or medical document translation services you can be confident that we will use native Russian translators so that your text is translated accurately by an expert in the field.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-2x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-envelope-o fa-stack-1x fa-inverse"></i>
                        </span> 
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Personal translation</h4>
                        <p class="text-justify">Whether you want to write an email to a Russian speaking friend, or need to translate dairy, social network correspondence, letters, emails, complex property documents, correct and sensitive language translation is essential. </p>
                    </div>
                </div>
                <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-2x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-microchip fa-stack-1x fa-inverse"></i>
                        </span> 
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">High-tech and IT </h4>
                        <p class="text-justify">We will help transform your websites into powerful tools that deliver personalized brand experiences to your Russian speaking customers. We also do any computer, IT translation (tech books, hardware, manuals, descriptions, etc.)</p>
                    </div>
                </div>
                <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-2x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-archive   fa-stack-1x fa-inverse"></i>
                        </span> 
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Other areas</h4>
                        <p class="text-justify">We also provide translation services in other areas: sport, education, literature, culture, computer technology, retail, government, manufacturing, etc.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

      

    </div>
    <!-- /.container -->

   