// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1.page-header {
    color: #337ab7;
}

.img-responsive{
	max-width: 100%;
	height: auto;
}

.nav navbar-nav navbar-right icons {
    center: 100px, 100px;
}
