

<hr>
        <!-- Footer -->
        <footer>
         
                   <div class="row">
         
                <div class='col-md-8'>
                  <p> Copyright &copy; Russian Translation 2017 </p>  <%= Spree.t :powered_by  %> <%= link_to 'Logic Forest', '#' %>
                  </div>
                 
                    <div class='col-md-4'>
                    <ul class="nav navbar-nav navbar-right icons">
						<li><a href="https://facebook.com" target="_blank"> <i class="fa fa-2x fa-facebook-square" ></a></i></li>
						<li><a href="http://twitter.com" target="_blank"><i class="fa fa-2x fa-twitter-square" target="_blank"></a></i></li>
						<li><a href="http://pinterest.com" target="_blank"><i class="fa fa-2x fa-pinterest-square"></a></i></li>
				     	<li><a href="http://plus.google.com" target="_blank"><i class="fa fa-2x fa-google-plus-square"></a></i></li>
					
					</ul>
					</div> 
		   
		    </div> 
		   
		    </div>

		  
        </footer>
        
       